<h5>Search</h5>
<div class="row">
    <form name="searchForm" class="col s12 m12">
        <div class="input-field col s6">
            <div class="input-field col s12">
                <select ng-model="vm.selectedMonth" material-select>
                    <option ng-repeat="month in vm.months" value="{{month.value}}">{{month.label}}</option>
                </select>
                <label>Month</label>
            </div>
        </div>
        <div class="input-field col s6">
            <div class="input-field col s12">
                <select material-select ng-model="vm.selectedApplication">
                    <option ng-repeat="application in vm.applications" value="{{application.value}}">{{application.label}}</option>
                </select>
                <label>Application(s)</label>
            </div>
        </div>
</div>
<input type="file" id="myFile" onchange="myFunction()" accept=".csv" style="padding: 12px 20px;">

<a ng-click="vm.upload()" class="waves-effect waves-light btn-large" style="margin:8px 10px;">Upload</a>

</form>